#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eee;
}

.img-container{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #8B0000;
  overflow: hidden;
  margin: 0 auto;
}

.img-fluid-custom{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.departament{
  background: #8B0000;
  border-radius: 7px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
}

.box-shadow{
  box-shadow: 4px 4px 15px rgba(60,60,60,0.3);
}

.text-darkRed{
  color: #8B0000;
}